<h1>All of our feline friends</h1>

<ul>
  <% @cats.each do |cat| %>
    <li><%= link_to cat.name, cat_url(cat)%></li>
  <% end %>
</ul>

<%= link_to "Rent a cat of your own!", new_cat_rental_request_url %>

<br><br>

<%= link_to "Make a new cat!", new_cat_url%>

<br><br><br>

<%= link_to "Make a new account!", new_user_url%>