<h1>Edit post</h1>


<form id="post-edit-form">
  <label>Title
  <input type="text" value="<%= post.get('title') %>"></label>

  <label>Body
  <input type="text" value="<%= post.get('body') %>"></label> 
</form>

<button>Save Changes</button>