<!-- <% if current_user.follows?(user) %>
  <%title = "Unfollow"%>
  <%= button_to "Unfollow", user_follow_url(user), method: :delete %>
<% else %>
  <%= button_to "Follow", user_follow_url(user), method: :post %>
<% end %> -->

<button type="button" 
        data-user-id='<%= user.id %>'
        data-initial-follow-state="unfollowed"
        class="follow-toggle">
        </button>