<!DOCTYPE html>
<html>
<head>
  <title>AuthDemo</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
		  <div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-
			  toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">Brand</a>
		  </div>
		  
		  
	  </div>
  </nav>
	  
	  
</head>
<body>

<%= yield %>

</body>
</html>
