	<input type="hidden"
	       name="authenticity_token"
		   value="<%= form_authenticity_token %>">
			
			
	<label for="track_album">Album</label>
		<select name="track[album_id]", id="track_album">
			<%Album.all.each do |album|%>
				<option value="<%= album.id %>"><% @album == album ? "selected" : ""%><%= album.title %></options>
			<% end %>
					
		<select><br>
		
		
	<label for="track_title">Title</label>
		<input name="track[title]", id="track_title", value="<%= @track.title %>"><br>
		
	
	<input type="radio" name="track[category]" id="track_category_regular" value="regular" checked="checked">
	<label for="track_category_regular">Regular</label><br>
	
	
	<input type="radio" name="track[category]" id="track_category_bonus" value="bonus">
	<label for="track_category_bonus">Bonus</label><br>
	
	
	<textarea name="track[lyrics]" id="track_lyrics" value="@track.lyrics"></textarea>
	<label for="track_lyrics">Lyrics</label><br>
	
		
	<input type="submit" value="Submit!">